language: php

cache:
  directories:
    - $HOME/.composer/cache

matrix:
    include:
        - php: 7.1
          env: FIX_CS=true

branches:
    only:
        - master
        - /^\d+\.\d+$/

install:
    - phpenv config-rm xdebug.ini
    - echo 'memory_limit = -1' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    - composer install

script:
    - vendor/bin/phpunit
    - if [ "$FIX_CS" == "true" ]; then vendor/bin/php-cs-fixer fix -v --dry-run --diff --show-progress=estimating; fi
